*.class

# Package Files #
*.jar
*.war
*.ear

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

.DS_Store
target/
node_modules/
engine.io-server/.settings/org.eclipse.jdt.core.prefs
engine.io-server/.project
engine.io-server/.classpath
